<header>
  <nav class="navbar navbar-light bg-light ">
    <div class="container-fluid mb-2">
      <a class="navbar-brand " href="#">
        <img src="/images/train.png" alt="" width="30" height="24" class="d-inline-block align-top">
        TicEtTac
      </a>
      <div id="navbarNav">
        <ul class="navbar-nav d-flex flex-row me-3">
          <li class="nav-item me-3">
            <a class="nav-link text-danger" href="#"><b>Sign-in/Sign-up</b></a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark" href="#"><b>My Last Trips</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
