<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid mb-2">
      <a class="navbar-brand " href="/">
        <img src="/images/train.png" alt="" width="30" height="24" class="d-inline-block align-top">
        <span id="brand">Tic&Tac</span>
      </a>
      <div id="navbarNav">
        <ul class="navbar-nav d-flex flex-row me-2 align-items-center">
          <% if (isConnected) { %>
            <li class="nav-item me-3">
              <span id="name">Hello <%= name %></span>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link text-danger" href="/users/disconnect"><b>Sign-Out</b></a>
            </li>
         <% } else { %>
          <li class="nav-item me-3">
            <a class="nav-link text-danger" href="/login"><b>Sign-in/Sign-up</b></a>
          </li>
         <%}%> 
          <li class="nav-item me-3">
            <a class="nav-link text-dark" href="/last-trips"><b>My Last Trips</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
